*{
    overflow-x: hidden;
}
/*the game area*/
.game{
    width: 500px;
    height: 200px;
    border: 1px solid aliceblue;
    padding-left: 10px;
    margin: auto; 
    background-color: aliceblue; 
}
/*the jumping character*/
#worm{
    width: 28px;
    height: 40px;
    background-image: url("worm.png");
    position: relative;
    top: 150px;
}

/*animation for the jumping character*/
.animate{
    animation: jump 0.4s linear;
}
@keyframes jump {
    0%{ top: 150px;}
    20%{top: 90px;}
    60%{top: 60px;}
    90%{top: 90px;}
    100%{top: 150px;}
}

/*the moving across the game area character*/
#book {
    background-image: url("gamebook.png");
    width: 20px;
    height:20px;
    position: relative;
    top: 130px;
    left: 500px;
    bottom: 30px;
    animation: block 2s infinite linear;
}
/*the animation for the book character*/
@keyframes block{
    0%{left: 500px;}
    100%{left: -40px;}
}

